
.tab-conatiner {
    padding:0 8px; 
    padding-top: 12px;
    display:flex;
    min-width: 500px; 
    border:0px solid var(--tabs-bdr);
    background-color: var(--tabs-bg);
}

.tab {
    border: 1px solid var(--tab-bdr);
    border-bottom-width: 4px; 
    float: left;
    padding: 4px 12px;
    margin: 0 2px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: var(--tab-bg);
}
.active-tab {
    border-color: var(--tab-active-bdr); 
    background-color: var(--tab-active-bg);
}
